@model proyecto_inkamanu_net.Models.DTO.ProductoDTO

@{
    ViewData["Title"] = "Editar Producto";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

    :root {
        --my-blue: #0074E4;
        --light-my-blue: #6FA6FF;
        /* Aquí defines el tono más claro */
        --celeste: #40E0D0;
        --light-celeste: hsl(177, 72%, 70%);
        --amarillo: #f9d806;
        --light-amarillo: #ffee80;
        --rojo: #FF0000;
        --light-rojo: #FFAFAF;
        --verde: #369681;
        --light-verde: #00B050;
        --black: #130f40;
        --light-color: #666;
        --border: .1rem solid rgba(0, 0, 0, .1);
        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    section {
        padding: 2rem 6%;
    }

    /* esto es para los productos */

    .heading {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 4.5rem;
        color: var(--black);
    }

    .heading span {
        position: relative;
        z-index: 0;
    }

    .heading span::before {
        content: '';
        position: absolute;
        bottom: 1rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: var(--celeste);
        clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
        /* CON ESTO PONGO LA LINEA AMARILLA ABAJO DE LA PALABRA Vehicles de color amarillo */
    }

    /* estilos para la tabla productos */

    /* editando o actualizando productos  */

    .editar-product-form-container {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .9);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .editar-product-form-container.active {
        top: 0;
    }

    .editar-product-form-container form {
        margin-top: 100px;
        text-align: center;
        max-width: 1000rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        border: .1rem solid rgba(0, 0, 0, .2);
        background: #fff;
        padding: 1.5rem;
        margin: 0 auto;
        overflow-y: auto;
        /* Agregar desplazamiento vertical cuando el contenido excede la altura */
        height: 50vh;
        width: 130vh;
        /* Altura máxima del formulario, ajusta según sea necesario */
    }

    .editar-product-form-container form .inputBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .editar-product-form-container form h3 {
        color: var(--black);
        font-size: 2.5rem;
        padding-bottom: 1rem 0;
        text-transform: uppercase;
    }

    .editar-product-form-container form .btn {
        display: block;
        width: 100%;
        margin: .5rem 0;
        background-color: var(--celeste);
        /* Cambia el color de fondo */
        color: var(--black);
        /* Cambia el color del texto */
        border: none;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .editar-product-form-container form .btn:hover {
        background-color: var(--amarillo);
        /* Cambia el color de fondo al pasar el mouse */
    }

    .editar-product-form-container form .inputBox .input {
        width: 49%;
    }

    .editar-product-form-container form .inputBox .input span {
        display: block;
        padding: .5rem 0;
        font-size: 1.5rem;
        color: var(--light-color);
    }

    .editar-product-form-container form .inputBox .input input {
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
        margin-bottom: 1rem;
        width: 100%;
    }

    .editar-product-form-container form .inputBox .input input:focus {
        border: .1rem solid var(--celeste);
    }

    .editar-product-form-container form .inputBox .input select {
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
        margin-bottom: 1rem;
        width: 100%;
    }

    .editar-product-form-container form .inputBox .input select:focus {
        border: .1rem solid var(--celeste);
    }
</style>
<!---------------------------- editar producto form  ---------------------------->

<div class="editar-product-form-container">
    <form asp-controller="Admin" asp-action="GuardarProductoEditado" method="post" enctype="multipart/form-data">
        <h3>ACTUALIZANDO PRODUCTO</h3>
        <h3>@ViewData["Message"]</h3>
        <input type="text" asp-for="Id" type="hidden">
        <div class="inputBox">
            <div class="input">
                <span>Nombre del producto</span>
                <input type="text" asp-for="Nombre">
                @Html.ValidationMessageFor(model => model.Nombre, null)
            </div>

            <div class="input">
                <span>Descripción del producto</span>
                <input type="text" asp-for="Descripcion">
                @Html.ValidationMessageFor(model => model.Descripcion, null)
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>Cantidad en Stock</span>
                <input type="number" asp-for="Stock">
                @Html.ValidationMessageFor(model => model.Stock, null)
            </div>

            <div class="input">
                <span>Precio del Producto</span>
                <input type="number" asp-for="Precio">
                @Html.ValidationMessageFor(model => model.Precio, null)
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>Imagen del Producto</span>
                <input type="file" name="Imagen" asp-for="Imagen">
            </div>
        </div>
        <input type="submit" value="Actualizar Producto" class="btn">
    </form>
</div>
<br>
@if (TempData["MessageActualizandoProducto"] != null)
{
    <div class="alert alert-success">
        @TempData["MessageActualizandoProducto"]
    </div>
}
<!---------------------------- editar producto form ---------------------------->