@model proyecto_inkamanu_net.Models.Entity.PedidoViewModel
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Detalle Pedido - CLIENTE";
}
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

    :root {
        --my-blue: #0074E4;
        --light-my-blue: #6FA6FF;
        /* Aquí defines el tono más claro */
        --celeste: #40E0D0;
        --light-celeste: hsl(177, 72%, 70%);
        --amarillo: #f9d806;
        --light-amarillo: #ffee80;
        --rojo: #FF0000;
        --light-rojo: #FFAFAF;
        --verde: #369681;
        --light-verde: #00B050;
        --black: #130f40;
        --light-color: #666;
        --border: .1rem solid rgba(0, 0, 0, .1);
        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        transition: all .2s linear;
    }

    body {
        margin-bottom: 0px;
    }

    html {
        font-size: 50.5%;
        overflow-x: hidden;
        scroll-padding-top: 7rem;
        scroll-behavior: smooth;
    }

    section {
        padding: 2rem 6%;
    }

    /* header */


    .heading {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 4.5rem;
        color: var(--black);
    }

    .heading span {
        position: relative;
        z-index: 0;
    }

    .heading span::before {
        content: '';
        position: absolute;
        bottom: 1rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: var(--celeste);
        clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
        /* CON ESTO PONGO LA LINEA AMARILLA ABAJO DE LA PALABRA Vehicles de color amarillo */
    }

    /* hasta aca arriba */
    .btn {
        display: inline-block;
        margin-top: 1rem;
        border-radius: .5rem;
        background: var(--light-celeste);
        color: var(--black);
        font-weight: 500;
        font-size: 1.7rem;
        cursor: pointer;
        padding: .8rem 3rem;
    }

    .btn:hover {
        background: var(--celeste);
    }

    /*------- cart item  --------*/

    .carrito {
        margin-top: -100px;
        /* esto hace que el carrito este mas arriba restandole el espaciado del navbar con el titulo del carrito */
    }

    .cart-page {
        margin: 80px auto;
    }


    table {
        width: 100%;
        border-collapse: collapse;
    }

    .cart-info {
        display: flex;
        flex-wrap: wrap;
    }

    th {
        text-align: left;
        font-size: 15px;
        padding: 5px;
        color: #fff;
        background: var(--my-blue);
        font-weight: normal;
    }

    td {
        padding: 10px 5px;
        font-size: 13px;
    }

    td input {
        width: 60px;
        height: 30px;
        padding: 5px;
        border: 1px solid var(--my-blue);
    }

    td a {
        color: var(--my-blue);
        font-size: 12px;
    }

    td img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .total-price {
        display: flex;
        justify-content: flex-end;
    }

    .total-price table {
        border-top: 3px solid var(--my-blue);
        width: 100%;
        max-width: 400px;
        /* ESTO SIRVE PARA PONER LA TABLA A LA MISMA ALTURA DEL QUANTITY */
    }

    td:last-child {
        text-align: right;
    }

    th:last-child {
        text-align: right;
    }

    .btnRegresar {
        display: inline-block;
        float: right;
        /* Alinea a la derecha */
        margin-top: 1rem;
        border-radius: .5rem;
        background: var(--light-celeste);
        color: var(--black);
        font-weight: 500;
        font-size: 1.7rem;
        cursor: pointer;
        padding: .8rem 3rem;
    }

    .btnRegresar:hover {
        background: var(--celeste);
    }


    /*---------------------- cambios ---------------------- */

    /* para ajustar las imagenes */

    .image-fit {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto;
        border: 1px solid #000;
        object-fit: cover;
        /* Puedes ajustar el grosor y el color del borde según tus preferencias */
    }

    /* para la mclase xdxd que tiene la etiqeuta p donde se muestra la cantidad de productos comprados o pedidos */

    td .xdxd {
        width: 60px;
        height: 30px;
        padding: 5px;
        border: 1px solid var(--my-blue);
        font-size: 14px;
    }

    /* estilos para el estado */

    .inputBox .input span {
        display: block;
        padding: .5rem 0;
        font-size: 1.5rem;
        color: var(--my-blue);
    }

    .inputBox .input p {
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
        margin-bottom: 1rem;
        width: 100%;
    }

    .inputBox .input p:focus {
        border: .1rem solid var(--my-blue);
    }
</style>

<!---------------------------- cart items details  ---------------------------->
<br>
<section class="carrito" id="carrito">
    <div class="small-container cart-page">
        <h1 class="heading"> <span>Pedido Nro. @Model.ID </span></h1>
        <table>
            <tr>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>IGV</th>
                <th>Subtotal</th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="@item.ImagenProducto" class="d-block w-100 image-fit">
                            <div>
                                <p>@item.NombreProducto</p>
                                <small>Precio: S/. @item.PrecioUnitario.ToString("F2")</small>
                                <small>IGV x Und. (Incluido en el precio) : S/.
                                    @((((double)item.PrecioUnitario) * 0.18).ToString("F2"))</small>
                                <br>

                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="xdxd">@item.Cantidad</p>
                    </td>
                    <td>
                        S/. @((((double)@item.PrecioUnitario * @item.Cantidad) * 0.18).ToString("F2"))
                    </td>
                    <td>S/. @(((double)item.PrecioUnitario * item.Cantidad).ToString("F2")) </td>
                </tr>
            }
        </table>

        <!---------------------------- TOTAL PRICE ---------------------------->
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td id="subtotal-general">S/. @(Model.Subtotal.HasValue ? Model.Subtotal.Value.ToString("F2") :
                        "0.00")</td>
                </tr>
                <tr>
                    <td>Igv</td>
                    <td id="igv">S/. @(Model.Igv.ToString("F2"))</td>
                </tr>
                <tr>
                    <td>Descuento</td>
                    <td id="descuento">S/. @(Model.Descuento.HasValue ? Model.Descuento.Value.ToString("F2") : "0.00")
                    </td>
                </tr>

                <tr>
                    <td>Total</td>
                    <td id="total">S/. @Model.Total.ToString("F2")</td>
                </tr>
            </table>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>Estado del Pedido:</span>
                <p>@Model.Status</p>
                @if (!string.IsNullOrEmpty(Model.Regalo))
                {
                    <p>De Regalo: @Model.Regalo</p>
                }
            </div>
        </div>
        <a class="btnRegresar" style="text-decoration: none;" asp-area="" asp-controller="MisPedidos"
            asp-action="MisPedidos">Volver</a>
    </div>
</section>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" id="MensajesVerdeRojo">
        @TempData["Error"]
    </div>
}
<!---------------------------- cart ends ---------------------------->

<!---------------------------- javascript para actualizar el carrito ---------------------------->