@model IEnumerable<proyecto_inkamanu_net.Models.Entity.Producto>
@{
  ViewData["Title"] = "Catálogo de Productos";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/catalogo.css" />

<!-- section para el carrusel -start -->
<h1>@ViewData["Message"]</h1>
<section id="tranding">
  <div class="container">
    <div class="swiper tranding-slider">
      <div class="swiper-wrapper">
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_1.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_16.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_17.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_18.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_19.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_20.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_21.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>

        <!-- Slide-end -->


        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="~/images/carrusel_6.jpeg" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
              </h3>
            </div>
          </div>
        </div>
        <!-- Slide-end -->
      </div>

      <div class="tranding-slider-control">
        <div class="swiper-button-prev slider-arrow">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
        <div class="swiper-button-next slider-arrow">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </div>
</section>
<!-- section para el carrusel -ends -->

<!---------------------------- featured section stars ---------------------------->
<section class="featured" id="featured">
  <h1 class="heading">
    <span>Catálogo de Productos</span>
  </h1>

  <div class="Buscador">
    <form asp-controller="NoCliente" asp-action="BuscarProducto" method="get">
      <span>Buscar Producto</span>
      <input type="text" name="query" id="query" />
      <button type="submit" id="btnBuscar" class="btnBuscar">Buscar</button>
    </form>
  </div>

@if (TempData["MessageDeRespuesta"] != null)
    {
      <div class="alerta">
        @TempData["MessageDeRespuesta"]
      </div>
    }
    @if (TempData["MessageDeRespuesta1"] != null)
    {
      <div class="alerta">
        @TempData["MessageDeRespuesta1"]
      </div>
    }

  <div class="swiper featured-slider">
    <div class="swiper-wrapper">
      @foreach (var producto in Model)
      {
        <div class="swiper-slide box">
          <img src="@producto.Imagen" alt="">
          <h3>@producto.Nombre</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">Precio: S/.@producto.Precio</div>
          <div class="Stock">Stock: @producto.Stock</div>
          <a class="btn" asp-action="DetalleProducto" asp-route-id="@producto.id">VER PRODUCTO</a>
        </div>
      }
    </div>
  </div>
</section>
<!---------------------------- featured section ends ---------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
  var TrandingSlider = new Swiper('.tranding-slider', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    loop: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2.5,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 1000, // tiempo de retardo en milisegundos, es decir, 3 segundos
      disableOnInteraction: false, // esto permitirá que el autoplay continúe después de que el usuario interactúe con el slider
    }
  });


  /* para el boton de buscar */

</script>
